.field-name-field-symposium-authors .field-item {
  float: left;
  margin-right: 5px;
}
.field-name-field-symposium-authors .field-item:after {
  content: '.';
}

#symposium-registration-action {
  margin-top: 15px;
}
#symposium-registration-action ul{
  margin-top: 0px;
  padding-left: 15px;
}
